@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




:root  {
  --background: 160 0% 100%;
  --foreground: 160 0% 10%;
  --card: 160 0% 100%;
  --card-foreground: 160 0% 15%;
  --popover: 160 0% 100%;
  --popover-foreground: 160 95% 10%;
  --primary: 160 84.1% 39.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 160 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 122 10% 95%;
  --muted-foreground: 160 0% 40%;
  --accent: 122 10% 90%;
  --accent-foreground: 160 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 160 0% 100%;
  --border: 160 20% 82%;
  --input: 160 20% 50%;
  --ring: 160 84.1% 39.4%;
  --radius: 1rem;
}
.dark  {
  --background: 160 10% 10%;
  --foreground: 160 0% 100%;
  --card: 160 0% 10%;
  --card-foreground: 160 0% 100%;
  --popover: 160 10% 5%;
  --popover-foreground: 160 0% 100%;
  --primary: 160 84.1% 39.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 160 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 122 10% 25%;
  --muted-foreground: 160 0% 65%;
  --accent: 122 10% 25%;
  --accent-foreground: 160 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 160 0% 100%;
  --border: 160 20% 50%;
  --input: 160 20% 50%;
  --ring: 160 84.1% 39.4%;
  --radius: 1rem;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow__attribution {
  background: transparent !important;
}

.dark {
  .react-flow__controls-button {
    @apply !bg-accent;
  }
}