@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root  {
  --background: 0 0% 95%;
  --foreground: 0 0% 2%;
  --card: 0 0% 90%;
  --card-foreground: 0 0% 10%;
  --popover: 0 0% 95%;
  --popover-foreground: 0 95% 2%;
  --primary: 0 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -38 10% 85%;
  --muted-foreground: 0 0% 35%;
  --accent: -38 10% 80%;
  --accent-foreground: 0 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 0 0% 90%;
  --border: 0 20% 50%;
  --input: 0 20% 18%;
  --ring: 0 100% 50%;
  --radius: 0.75rem;
}
.dark  {
  --background: 0 10% 5%;
  --foreground: 0 0% 90%;
  --card: 0 0% 2%;
  --card-foreground: 0 0% 90%;
  --popover: 0 10% 5%;
  --popover-foreground: 0 0% 90%;
  --primary: 0 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -38 10% 15%;
  --muted-foreground: 0 0% 60%;
  --accent: -38 10% 15%;
  --accent-foreground: 0 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 0 0% 90%;
  --border: 0 20% 18%;
  --input: 0 20% 18%;
  --ring: 0 100% 50%;
  --radius: 0.75rem;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow__attribution {
  background: transparent !important;
}

.dark {
  .react-flow__controls-button {
    @apply !bg-accent;
  }
}